*{
    font-family: "Poppins", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    height: 60px;
    margin: auto;
}

.company-logo{
    width: 200px;
    padding: 10px 10px 10px 10px;
}

.company-logo img{
    width: 150px;
}

.nav-list{
    width: 500px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-list li{
    list-style-type: none;
    padding: 17px 10px 10px 10px;
    display: inline-block;
    justify-content: space-between;
}

.vendor{
    color: rgba(251, 124, 23, 1);
}

.nav-icons{
    display: flex;
    padding: 15px 10px 10px 10px;
    justify-content: space-between;
    width: 180px;
}

.nav-icons img{
    width: 40px;
}

.backdrop{
    position: relative;
}

.backdrop img{
    width: 100%;
    margin: auto;
}

.backdrop-text{
    position: absolute;
  top: 50%;
  left: 74%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(255, 243, 227, 1);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  width: 500px;
  height: 350px;
}

.backdrop-text p{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.backdrop-text span{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgba(251, 124, 23, 1);
  font-size: 40px;
}

.backdrop-text button{
    color: white;
    background-color: rgba(251, 124, 23, 1);
    margin-top: 5px;
    padding: 15px;
    width: 150px;
    border: none;
}

.range{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}

.range-text{
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}

.browse-range div{
    display: flex;
    justify-content: space-around;
}

.range-div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.backdrop-2{
    width: 400px;
    height: 400px;
}

.range-img{
    height: 400px;
}

.range-div span{
    font-weight: 400;
}