*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head1{
    display: flex;
    position: relative;
    background-color: #fff;
    gap: 300px;
}
.head1 li{
    list-style: none;
    /* display: flex; */
    /* flex-direction: row;
    position: relative; */
}
.head1 a{
    text-decoration: none;
    display: flex;
    position: relative;
}
.homes{
    display: flex;
    text-align: center;
    gap: 20px;
    /* padding: 30px; */
}

.homes a{
    color: black;
}
.src{
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;

}
.easy{
    position: absolute;
}
.Wrist{
    display: flex;
    position: relative;
    gap: 30px;
    
}
.Rings{
    display: flex;
    position: relative;
    gap: 30px;

}
.lance{
    display: flex;
    position: relative;
    list-style: none;
    background-color:#ffffffab;
    border: 100px;
    outline: 10px;
    width: 800px;
    outline-width: 40px;
    outline-color: gray;
    margin: 10px;
    border:red;

}
.image{
    display: flex;
    position: relative;
    align-items: center;
    /* gap: 10px; */
}
.image img{
    gap: 20px;
    position: absolute;
    word-spacing: 5px;
    width: 25px;
}
 .lance a{
    text-decoration: none;
    color: black;
    align-items: center;
 }
 .lance input{
    width: 200px;
    height: 40px;
    border-radius: 5px;

 }
 .sign{
    background-color: orange;
    border-radius: 5px;
    width: 70px;
    height: 40px;
    /* text-align: center; */
    outline: 0;
    border: 0;
    
 }

 .sign a{
    text-decoration: none;
    color: #fff;
    text-align: right;
 }
 .log{
    background-color: #e19e5bab;
    border-radius: 5px;
    width: 70px;
    height: 40px;
    /* color:orange; */
    border: 0;
    outline: 0;

 }
 .log a{
    text-decoration: none;
    color: #fff;
    text-align: right;

 }


.list{
     display: flex;
    position: relative;
    gap: 20px;
    padding: 15px;
    border: 10px;
    
    
}

main{
    display: flex;
    position: relative;
    padding: 30px;
    gap: 30px;
}
main img{
    width: 200px;
    height: 90px;
    /* padding: 20px; */
}
nav{
    /* background-color: black;
    border: 20px; */
    padding: 10px;
    gap: 20px;
    justify-content: center;
    text-align: center;
    
    /* letter-spacing: 20px; */
}
nav li {
    list-style: none;
}
 nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    list-style: none;
    justify-content: center;
}
nav input{
    width: 200px;
    height: 50px;
    background-color: orange;
    color: #fff;
    text-align: center;
    align-content: center;
    font-weight: 200;
    font-size: 20px;
    border-radius: 1px;
    padding: 10px;
    border: 0;
}
.daily  h1{
    text-align: center;
    margin: 20px;

}