*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    /* padding: 20px; */
    /* align-items: center; */
    /* text-align: left;
    justify-content: center;
} */ */
.format{
    /* align-items: center; */
    justify-items: center;
    margin-left: 250px;
    margin-right: 250px;

    
}
.email{
    background-image: url('capstone-images/carbon_email\ \(1\).svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 5% ;
    
} 
.rest{
    align-items: center;
}
input{
    width: 300px;
    height: 40px;
    /* align-items: center;
    /* padding: 50px 60px; */
    /* justify-items: center; */
    /* justify-content: center; */

    /* margin: 300px;
    padding: 20px; */
    
    
}
.cap{
    /* display: flex; */
    width: 70px;
 /* align-content: end; */
    /* align-items: center; */
    float: right;
 /* padding: 10px; */

    
}

.cap img{
    align-items: flex-end;
    width: 100px;
}

.create{
    align-items: center;
    width: 200px;
    height: 30px;
    background-color: green;
    color: black;
}
.create a{
    text-decoration: none;
    color: black;
    text-align: center;
}
h3{
    text-align: center;
    margin: 10px;
}